.header {
  background-color: white;
  box-shadow: var(--shadow-sm);
  margin-bottom: 0.5rem;

  &__nav {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
  }

  &__nav-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: var(--text-sm);
    font-weight: 500;
    border-radius: 0.375rem;
    transition: all 200ms;
    color: var(--color-gray-700);

    &:hover {
      background-color: var(--color-gray-100);
    }

    &--active {
      background-color: var(--color-gray-200);
    }

    &--round {
      padding: 0.5rem;
      border-radius: 9999px;
    }

    svg {
      flex-shrink: 0;
    }
  }
}